<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks" href="#/adminconsole">
                <span class="glyphicon glyphicon-chevron-left addYellow"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks" href="#/profile">
                <span class="glyphicon glyphicon-user addYellow"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand headingStyle" href="#/moviedefault">Critics</a>
        </div>
    </div>
</nav>

<div>
<div class="container adjustPaddingForHeader mobilePadding">
    <div class="col-xs-12 col-md-8">

        <div class="container mobilePadding">
            <div class="">
                <div class="align-center-style">
                    <div class="btn-group hidden-xs">
                        <a class="btn btn-success buttoncolor-adminbtn btn-margin-bottom white-hyperlinks"
                           href="#/managemovies">Manage Ratings and Reviews
                        </a>
                        <a class="btn btn-success buttoncolor-admin btn-margin-bottom white-hyperlinks"
                           href="#/manageflaggedreviews">Manage Flagged Reviews
                        </a>
                        <a class="btn btn-success buttoncolor-adminbtn btn-margin-bottom white-hyperlinks"
                           href="#/manageusers">Manage Users
                        </a>
                    </div>
                    <div class="btn-group-vertical visible-xs">
                        <a class="btn btn-success buttoncolor-adminbtn btn-margin-bottom white-hyperlinks"
                           href="#/managemovies">Manage Ratings and Reviews
                        </a>
                        <a class="btn btn-success buttoncolor-admin btn-margin-bottom white-hyperlinks"
                           href="#/manageflaggedreviews">Manage Flagged Reviews
                        </a>
                        <a class="btn btn-success buttoncolor-adminbtn btn-margin-bottom white-hyperlinks"
                           href="#/manageusers">Manage Users
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mobilePadding">

            <div ng-if="model.createsuccess" class="alert alert-success">
                {{model.createsuccess}}
            </div>

            <h4><b>Create User</b></h4>

            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12 paddedfromtop3">
                    <input type="text"
                           class="form-control"
                           placeholder="username"
                           ng-model="model.username"/>
                </div>

                <div class="col-md-3  col-sm-12 col-xs-12 paddedfromtop3">
                    <input type="password"
                           class="form-control"
                           placeholder="password"
                           ng-model="model.password"/>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 paddedfromtop3">
                    <input type="email"
                           class="form-control"
                           placeholder="email"
                           ng-model="model.email"/>
                </div>

                <div class="col-md-3 col-sm-12 col-xs-12 paddedfromtop3">

                    <a ng-click="model.createCritic(model.username, model.password, model.email)"
                       class="btn btn-block btn-success btn-color">Create Critic
                    </a>
                </div>
            </div>
        </div>
        <p></p>
    <div class="container mobilePadding">
        <div class="table-responsive">
            <table class="table">
                <thead class="color-heading">
                <tr>
                    <th>Username</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody ng-repeat="user in model.users">
                <tr>
                    <td>
                        <span ng-if="user.admin=='true'" class="fa fa-lg fa-user-secret set-glyphicon-margin"></span>
                        <span ng-if="user.admin=='false'" class="glyphicon glyphicon-user set-glyphicon-margin"></span>
                        <a class="a-tag-black"
                           href="#/user/profile/{{user.username}}">
                            {{user.username}}</a>
                    </td>
                    <td> {{user.firstName}}</td>
                    <td> {{user.lastName}}</td>
                    <td> Critic
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="container mobilePadding">
        <h4><b>Update Role</b></h4>
        <div ng-if="model.warning" class="alert alert-warning">
            {{model.warning}}
        </div>
        <div ng-if="model.updatedmessage" class="alert alert-success">
            {{model.updatedmessage}}
        </div>

        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="color-heading">
                <th>Username</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Admin </th>
                <th>Update</th>
                <th>Delete</th>
                </thead>
                <tr ng-repeat="user in model.users">
                    <td>
                        <span ng-if="user.admin=='true'"
                              class="fa fa-lg fa-user-secret set-glyphicon-margin"></span>
                        <span ng-if="user.admin=='false'"
                              class="glyphicon glyphicon-user set-glyphicon-margin"></span>
                        <a class="a-tag-black"
                           href="#/user/profile/{{user.username}}">{{user.username}}</a>
                    </td>
                    <td>
                        <a class="a-tag-black">{{user.firstName}}</a>
                    </td>
                    <td>
                        <a class="a-tag-black">{{user.lastName}}</a>
                    </td>
                    <td>
                        <input type="text"
                               ng-model="user.admin"
                               class="form-control"
                               placeholder="true/false"/>
                    </td>

                    <td>
                        <a class="fa fa-check-square fa-lg a-tag-black"
                           ng-click="model.updateCritic(user._id, user)"></a>
                    </td>

                    <td><a class="fa fa-user-times fa-lg a-tag-black"
                           ng-click="model.deleteCritic(user._id)"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>



    <!-- Active Users -->


    </div>

    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <p class="navbar-text pull-left">


            </p>
            <p class="navbar-text pull-right">

                <a class="white-hyperlinks" ng-click="model.logout()">
                    <span class="glyphicon glyphicon-off white-links addYellow"></span>
                </a>
            </p>

        </div>
    </nav>
</div>
</div>