<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks" href="#/adminconsole">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks" href="#/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand headingStyle" href="#/moviedefault">Manage Movies</a>
        </div>
    </div>
</nav>

<div class="container adjustPaddingForHeader">
    <div class="">
        <div class="align-center-style">
            <div class="btn-group">
                <a class="btn btn-success buttoncolor-adminbtn btn-margin-bottom"
                   href="#/manageusers">Manage Users
                </a>
                <a class="btn btn-success buttoncolor-admin btn-margin-bottom"
                   href="#/manageflaggedreviews">Manage Flagged Reviews
                </a>
            </div>
        </div>
    </div>
</div>
<!--Body-->
<div class="container pushdown">

    <!-- Number of Movies Reviewed-->
    <div class="container">
        <h5><b>Total Reviews:</b> {{model.moviesCount}}</h5>
    </div>


    <!-- Mangage Reviews -->
    <div class="container ">
        <div ng-if="model.error" class="alert alert-warning">
            {{model.error}}
        </div>
        <div ng-if="model.success" class="alert alert-success">
            {{model.success}}
        </div>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="color-heading">
                <th>Movie</th>

                <th>Visible</th>
                <th>Flagged</th>
                <th>Reviewed by</th>
                <th>Review</th>
                <th>Update</th>
                <th>Delete</th>
                </thead>
                <tr ng-repeat="movie in model.results">
                    <!-- Movie-->
                    <td>
                        <a class="a-tag-black"
                           href="#/movie/{{movie.tmdbId}}"><b>{{movie.title}}</b></a>
                    </td>


                    <!-- Visible -->
                    <td><input type="text"
                               class="form-control"
                               ng-model="movie.visible"
                               placeholder="true/false"/></td>
                    <!-- Visible -->
                    <td><input type="text"
                               class="form-control"
                               ng-model="movie.flagged"
                               placeholder="true/false"/></td>
                    <td>
                        <a class="a-tag-black"
                           href="#/user/profile/{{movie.username}}">{{movie.username}}</a>
                    </td>
                    <!-- Review-->
                    <td><textarea type="text"
                                  ng-model="movie.text"
                                  class="form-control"
                                  rows = "4"
                                  placeholder="Review Text">
                    </textarea></td>
                    <td><a class="glyphicon glyphicon-ok a-tag-black"
                           ng-click="model.updateMovie(movie.tmdbId, movie.userId, movie.visible, movie.flagged, movie.text)"></a>
                    </td>
                    <td><a class="glyphicon glyphicon-remove a-tag-black"
                           ng-click="model.deleteMovie(movie.tmdbId, movie.userId)"></a>
                    </td>

                </tr>
            </table>
        </div>

    </div>




    <!-- View Ratings and Reviews -->
    <!--<div class="container ">-->
    <!--<h4 ><b>Ratings and Reviews</b></h4>-->
    <!--<div class="table-responsive">-->
    <!--<table class="table">-->
    <!--<thead>-->
    <!--<tr>-->

    <!--<th>Movie</th>-->
    <!--<th>Average Ratings</th>-->
    <!--<th>Reviews</th>-->

    <!--</tr>-->
    <!--</thead>-->

    <!--&lt;!&ndash; Table Body&ndash;&gt;-->
    <!--<tbody ng-repeat="movie in model.movies">-->

    <!--<tr>-->
    <!--&lt;!&ndash;Movie Name&ndash;&gt;-->
    <!--<td>-->
    <!--<span class="fa fa-film" aria-hidden="true">-->
    <!--<a class="makeblack"-->
    <!--href="#/movie/{{movie.tmdbId}}">-->
    <!--{{movie.title}}</a></span>-->
    <!--</td>-->

    <!--&lt;!&ndash;Average Ratings&ndash;&gt;-->
    <!--<td> {{movie.averageratings}}</td>-->


    <!--&lt;!&ndash; Reviews &ndash;&gt;-->
    <!--<td> {{movie.reviews}}</td>-->



    <!--</tr>-->
    <!--</tbody>-->

    <!--</table>-->
    <!--</div>-->
    <!--</div>-->
</div>


<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">


        </p>
        <p class="navbar-text pull-right">

            <a  class="mycustomfont" ng-click="model.logout()">
                <span class="glyphicon glyphicon-off white-links"></span>
            </a>
        </p>

    </div>
</nav>