<!-- Header -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks" href="#/adminconsole">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks" href="#/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand headingStyle" href="#/moviedefault">Manage Reviews</a>
        </div>
    </div>
</nav>


<!--Body-->
<div class="container adjustPaddingForHeader">
    <div class="">
        <div class="align-center-style">
            <div class="btn-group">
                <a class="btn btn-success buttoncolor-adminbtn btn-margin-bottom"
                   href="#/manageusers">Manage Users
                </a>
                <a class="btn btn-success buttoncolor-admin btn-margin-bottom"
                   href="#/managemovies">Manage Movies
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container pushdownless">
    <div ng-if="model.reportReviewMessage" class="alert alert-success">{{model.reportReviewMessage}}</div>

    <div class="table-responsive">
        <table class="table">
            <thead class="color-heading">
            <tr>

                <th>User</th>
                <th>Title</th>
                <th>Review Text</th>
                <th>Remove</th>

            </tr>
            </thead>

            <!-- Table Body-->
            <tbody ng-repeat="review in model.results">
            <tr ng-if= "review.visible=='true' && review.flagged=='true'">
                <td >
                    <span class="glyphicon glyphicon-user ">
                        <a class="makeblack"
                           href="#/user/profile/{{review.username}}">
                       {{review.username}}</a></span>


                </td>
                <td >
                    <span  >
                        <a class="makeblack"
                           href="#/movie/{{review.tmdbId}}">
                       {{review.title}}</a></span>


                </td>
                <td>{{review.text}}</td>
                <td><a  type="button" ng-click="model.removeReview(review._id, review.tmdbId)"
                        class=" reportbutton btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-remove "> Remove</span>
                </a>
                    <a  type="button" ng-click="model.donotremoveReview(review._id, review.tmdbId)"
                        class=" reportbutton btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-ok "> Keep </span>
                    </a>
                </td>

            </tr>
            </tbody>

        </table>
    </div>
</div>


<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">

        </p>
        <p class="navbar-text pull-right">

            <a  class="mycustomfont" ng-click="model.logout()">
                <span class="glyphicon glyphicon-off white-links"></span>
            </a>
        </p>

    </div>
</nav>