input.form-control,
textarea.form-control,
select.form-control {
    margin-bottom: 5px;
}

.btn-margin-bottom{
    margin-bottom: 5px;
}
.gap-right {
    margin-right: 10px;
}
.imageWidthInReview{
    width: 70px;
}
.wellColor{
    background-color: white;
}
.align-center-style{
    text-align: center;
}
.white-links
{
    color:white;
}
.adjustPaddingForHeader{
    padding-top: 30px;
    padding-bottom: 30px;
}
.headingBlackStyle{
    color: black !important;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive !important;
}
.searchButtonColor{
    color: white;
    border-color: black;
    background-color: black;
}
.set-glyphicon-margin{
    margin-right:5px;
}
.set-login-margin{
    margin-right:10px;
}
.white-hyperlinks{
    text-decoration: none;
}
.a-tag-black{
    color:black;
}

.setBackground{
    background-color: #fed136;
    border-color: #fed136;
}
.homepageMargin{
    margin-top: 200px;
}
.widthHeightPoster{
    width: 1080px;
    height: 1920px;
}
.ul-class {
    width: auto;
    height: 20%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
li.w92 {
    margin: 0 12px 0 0;
    width: 93px;
    padding-bottom: 8px;
    text-align: center;
    height: auto;
    line-height: normal;
    display: inline-block;
    vertical-align: top;
}

li.w92 img {
    display: block;
    margin-bottom: 8px;
    width: 92px;
    height: 138px;
}

.cast-object {
    width: 60%;
    height: 20%;
}
.ul-class .li-class {
    width: 20%;
    display: inline-block;
}
.media-object-movie, .profile-photo {
    max-height: 100%;
    max-width: 90%;
    object-fit: contain;
}
.media-heading{
    margin-bottom: 5px;
    margin-top: 10px;
}
.paratext{
    text-overflow:ellipsis;
}
.backImage{
    background-image: url("../images/top-bg.jpg");
    background-repeat: no-repeat;
}
.backImageBrick{
    background-image: url("../images/dark-grey.jpg");
}
.backGroundColor{
    background-color: #1e100e;
}
.movieInfoBackground{
    background-image: url("../images/movieInfo.jpg");
}
.loginBackground{
    background-image: url("../images/penguins.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;


}
.adminBackground{
    background-image: url("../images/up-wide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.registerBackground{
    background-image: url("../images/minionsD.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.plainBackground{
    background-image: url("../images/angrybird.jpg");
    background-size: cover;
    background-position-x: center;
}


.white-hyperlinks{
    color: white;
}
.bottomRegisterPadding{
    padding-bottom: 130px;
}

.bottomAdminPadding{
    padding-bottom: 320px;
}
.bottomPadding
{
    padding-bottom: 240px
}
#header img {
    padding-top: 55px;
    width: 90%;
}

body {
    padding-top: 40px;
    padding-bottom: 0px;
    font-family: 'PT Sans Caption', Helvetica, Arial, sans-serif;
}
.buttoncolor-admin{
    color: black;
    font-weight: bold;
    border-color: #fed136 !important;
    background-color: #fed136 !important;
}
.adjustPaddingForFooter{
    padding-bottom: 50px;
}
.mobileMargin{
    margin-bottom: 50px;
}
.adjustMovieInfoHeader{
    margin-bottom: 30px;
}
.addYellow{
    color: #fed136 !important;
}
.buttoncolor-adminbtn{
    color: #fed136;
    font-weight: bold;
    border-color: black !important;
    background-color: black !important;
}
.rateMovie{
    margin-top: 50px;
}
.paddingYoutube{
    padding-bottom: 30px;
}
.headingStyle{
    color: #fed136 !important;
    font-size: xx-large;
    font-weight: bolder;
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive !important;
}
.subHeadingStyle{
    color: #fed136 !important;
}
.blackFooter{
    background-color:black;
}
.headingStyleInBlack{
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive !important;
}
.color-heading{
    background-color: #fed136 !important;
}
.toolbar-width{
    width:97%;
}
.container-fluid>.navbar-header{
    margin-left: 0px;
    margin-right: 0px;
}
a:hover{
    text-decoration: none;
}
.makeBlackText{
    color: black;
}
.fixed-top-header-arrow{
    font-size: 12px;
    padding-left: 0px;
    padding-right: 15px;
    margin-left: 0px;
    margin-right: 0px;
}

.fixed-top-header{
    padding-left: 0px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    color: white;
}
.padding-left-header{
    padding-left: 15px !important;
}
.remove-hover-heading{
    color: white !important;
}
.glyphicon-color{
    color: white;
}
.adjust-padding-header{
    padding-left: 0px;
}

.navbar-default .navbar-link:hover {
    color: white ;
}
.active {
    background-color: black !important;
}
.footer-width{
    width: 100%;
}
.navbar-default {
    background-color: black;
    border-color: black;
}


.navbar-default .navbar-brand {
    color: white;
}

.navbar-header {
    width: 100%;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar.navbar-default a {
    color: #ffffff;
}

.wd-widget {
    margin-bottom: 10px;
}

.wd-widget > img {
    width: 100%;
}

.wd-widget .wd-widget-toolbar {
    position: absolute;
    right: 15px;
    background: white;
    opacity: 0.9;
    padding: 5px;
    border-bottom-left-radius: 10px;
}

.toolbar-youtube-position{
    top: 0px;
    right: 0px !important;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.btn-color{
    background: black !important;
    border-color: black !important;
}
.login-margin{
    margin-top: 50px;
}
.register-margin{
    margin-top: 25px;
}
.borderNone{
    border: none;
}
.userprofilePadding{
    margin-bottom: 50px;
}
@media only screen and (max-width: 768px) {
    .padding-left-header{
        padding-left: 0px !important;
    }
    .homepageMargin{
        margin-top: 30px;
    }
    .fullLength{
        width: 100%;
    }
    .mobilePadding{
        padding-left: 0px;
        padding-right: 0px;
    }
    .profilePadding{
        padding-bottom: 30px;
    }
}
