<div class="backGroundColor">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">

        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks set-login-margin addYellow" href="#/login">
                Login
            </a>
        </div>
        <div>
            <a class="navbar-brand white-hyperlinks headingStyle addYellow" href="#/moviedefault">Nick Flix</a>
        </div>
    </div>
</nav >

<div class="backImage">
    <section class="" id="about">
    </section>

<div class="container-fluid">
    <div class="col-sm-12 col-md-12 homepageMargin">
        <div class="container-fluid" style="padding-bottom: 30px;padding-left: 0px;padding-right: 0px;">
            <div class="input-group">
                <input ng-model = "model.movieName"
                       type="text"
                       placeholder="Search for your favorite movies"
                       class="form-control ng-pristine ng-valid ng-touched">
                <span class="input-group-btn ">
               <a href ="#/search/{{model.movieName}}"
                  class="btn btn-info buttoncolor-admin"
                  type="button">
                   <span class="glyphicon glyphicon-search buttoncolor-admin"></span>
               </a>
            </span>
            </div>
        </div>
        <div class="row placeholders">
            <div class="col-xs-12
                        col-sm-8
                        col-sm-3
                        placeholder"
                 ng-repeat="movie in model.movies"
                 ng-if="movie.poster_path">
                <div class="thumbnail">
                    <div class="embed-responsive embed-responsive-4by3">
                        <a ng-if="!movie.video_url">
                            <img ng-src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}">
                        </a>
                    </div>
                    <div class="caption">
                        <a href="#/movie/{{movie.id}}"><h4 class="smallheader makeBlackText">{{movie.title| limitTo:30}}</h4></a>
                        <div ng-model="movie.criticsRating"
                             ng-init="movie.criticsRating=(movie.vote_average/2)" class="meter">
                            <p> <h5 class="rating">Rating : {{movie.criticsRating}}</h5>
                            </p>
                            <p><h5>{{movie.overview| limitTo:60}}{{movie.overview.length > 60 ? "..." : ""}}</h5></p>
                        </div>
                        <h5 class="rating">Release Date: {{movie.release_date | date:'MMM d, y' }}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>