<nav class="navbar navbar-default navbar-fixed-top" >
    <div class="container-fluid" >
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks" href="#/home">
                <span class="glyphicon glyphicon-chevron-left addYellow"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks" href="#/moviedefault">
                <span class="glyphicon glyphicon-home addYellow"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand white-hyperlinks headingStyle" href="#/moviedefault">Login</a>
        </div>
    </div>
</nav>

<div class="loginBackground" >
    <div class="container adjustPaddingForHeader bottomPadding">
        <div class="login-margin"></div>
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8 mobilePadding">
        <div ng-show="model.error" class="alert alert-danger" role="alert">
            {{model.error}}
        </div>

        <form name="model.loginForm" novalidate>
            <div class="form-group">
                <label for="username" class="subHeadingStyle">Username</label>
                <input type="text"
                       ng-model="username"
                       id="username"
                       required
                       class="form-control fullLength"
                       name="username"
                       placeholder="alice">
                <span class="alert-class subHeadingStyle" ng-show="model.loginForm.username.$invalid">{{model.alert}}</span>
            </div>
            <div class="form-group">
                <label for="password" class="subHeadingStyle">Password</label>
                <input type="password"
                       ng-model="password"
                       id="password"
                       required
                       class="form-control fullLength"
                       name="password"
                       placeholder="alice@123">
                <span class="alert-class subHeadingStyle" ng-show="model.loginForm.password.$invalid">{{model.alert}}</span>
            </div>
        </form>

        <a ng-click="model.login(username,password)"
           class="btn btn-primary btn-block btn-color addYellow"
           type="submit">Login</a>

        <a class="btn btn-success btn-block btn-color addYellow"
           href="#/register">Register</a>

        <a href="/auth/facebook" class="btn btn-primary btn-block btn-color addYellow">
            <span class="fa fa-facebook"></span>
            Login via Facebook
        </a>
        </div>
        <div class="col-md-2"></div>
    </div >

<nav class="navbar navbar-inverse navbar-fixed-bottom blackFooter">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
        </p>
        <p class="navbar-text pull-left">
        </p>
    </div>
</nav>
</div>

