<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks addYellow" href="#/moviedefault">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks addYellow" href="#/profile">
                <span class="glyphicon glyphicon-user"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand headingStyle" href="#/moviedefault">Edit Profile</a>
        </div>
    </div>
</nav>

<div class="container adjustPaddingForHeader mobilePadding">
    <div class="register-margin"></div>
    <div class="col-md-2"></div>
    <div class="col-xs-12 col-md-8 profilePadding">
        <div class="input-group">
            <input ng-model = "model.movieName"
                   type="text"
                   placeholder="Search for movies"
                   class="form-control ng-pristine ng-valid ng-touched">
            <span class="input-group-btn ">
                   <a href ="#/search/{{model.movieName}}"
                      class="btn btn-info buttoncolor-adminbtn"
                      type="button">
                       <span class="glyphicon glyphicon-search buttoncolor-adminbtn"></span>
                   </a>
                </span>
        </div>
        <p></p>
        <p></p>
        <div ng-if="model.success"
             class="alert alert-success">
            {{model.success}}
        </div>

        <div ng-if="model.error"
             class="alert alert-danger">
            {{model.error}}
        </div>

        <form>
            <div class="form-group">
                <label for="username">Username</label>
                <input ng-model="model.user.username"
                       type="text"
                       class="form-control"
                       id="username" placeholder="John">
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="email">Email address</label>
                <input ng-model="model.user.email"
                       type="email"
                       class="form-control"
                       id="email"
                       placeholder="john@xyz.com">
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input ng-model="model.user.firstName"
                       type="text"
                       class="form-control"
                       id="first-name"
                       placeholder="John">
            </div>
        </form>

        <form>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input ng-model="model.user.lastName"
                       type="text"
                       class="form-control"
                       id="last-name"
                       placeholder="Doe">
            </div>
        </form>
        <a class="btn btn-primary btn-block buttoncolor-adminbtn"
           ng-click="model.updateUser(model.user)">Confirm Changes</a>
        <a ng-click = "model.logout()"class="btn btn-danger btn-block buttoncolor-adminbtn">Logout</a>
        <a class="btn btn-danger btn-block buttoncolor-adminbtn"
           ng-click = "model.deleteUser()">Delete Account</a>

    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks addYellow" ng-click="model.logout()">
                <span class="glyphicon glyphicon-off white-links addYellow"></span>
            </a>
        </div>

        <div class="navbar-text pull-left">

        </div>
        <div>
            <a class="navbar-brand" href="#"></a>
        </div>
    </div>
</nav>