<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks " href="#/login">
                <span class="glyphicon glyphicon-chevron-left addYellow"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a class="white-hyperlinks " href="#/moviedefault">
                <span class="glyphicon glyphicon-home addYellow"></span>
            </a>
        </div>
        <div>
            <a class="navbar-brand headingStyle" href="#/moviedefault">Register</a>
        </div>
    </div>
</nav>

<div class="registerBackground" >
<div class="container adjustPaddingForHeader  bottomRegisterPadding">
    <div class="register-margin"></div>
        <div class="col-md-2"></div>
        <div class="col-xs-12 col-md-8">
        <div ng-if="model.error"
             class="alert alert-danger">
            {{model.error}}
        </div>

            <form novalidate name="model.myform">
            <label for="username">Username</label>
            <span class="alert-class"
                  ng-show="model.myform.username.$invalid">{{model.alert}}</span>
            <input ng-model="username"
                   id="username"
                   name="username"
                   placeholder="John"
                   type="text"
                   class="form-control"
                   required/>

            <label for="firstName">First Name</label>
            <input ng-model="firstName"
                   id="firstName"
                   placeholder="John"
                   name="firstName"
                   type="firstName"
                   class="form-control"
                   required/>

            <label for="lastName">Last Name</label>
            <input ng-model="lastName"
                   id="lastName"
                   placeholder="Doe"
                   name="lastName"
                   type="lastName"
                   class="form-control"
                   required/>

            <label for="password">Password</label>
            <span class="alert-class" ng-show="model.myform.password.$invalid">{{model.error}}</span>
            <input ng-model="password"
                   id="password"
                   placeholder="Password"
                   name="password"
                   type="password"
                   class="form-control"
                   required/>

            <label for="vpassword">Verify Password</label>
            <span class="alert-class"
                  ng-show="model.myform.vpassword.$invalid">{{model.error}}</span>
            <input ng-model="vpassword"
                   id="vpassword"
                   name="vpassword"
                   placeholder="Verify Password"
                   type="password"
                   class="form-control"
                   required/>
            <button class="btn btn-primary btn-block btn-color btn-margin-bottom"
                    ng-click="model.register(username, password, vpassword, firstName, lastName)"
                    type="submit">Sign Up</button>
        </form>

        <a class="btn btn-danger btn-block btn-color"
           href="#/login">Cancel</a>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a class="mycustomfont white-hyperlinks" href="#/login">
                <span class="addYellow"><b>Login</b></span>
            </a>
        </p>
    </div>
</nav>
</div>