<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-text pull-left">
            <a class="white-hyperlinks addYellow" href="#/moviedefault">
                <span class="glyphicon glyphicon-chevron-left addYellow"></span>
            </a>
        </div>
        <div class="navbar-text pull-right">
            <a ng-if="model.admin" class="set-glyphicon-margin" href="#/adminconsole">
                <span class="fa fa-lg fa-user-secret admin addYellow" aria-hidden="true"></span>
            </a>
            <a>  </a>
            <a ng-if="model.user" class="mycustomfont" href="#/profile">
                <span class="glyphicon glyphicon-home addYellow" aria-hidden="true"> </span></a>
        </div>
        <div>
            <a class="navbar-brand headingStyle" href="#/Profile">Profile</a>
        </div>
    </div>
</nav>

<div class="container-fluid pushdown">
    <div class="container-fluid">
        <!-- Search Box -->
        <div class="row">
            <div class="col-xs-8">
                <h2 class="page-header">{{model.user.username}}'s Profile
                    <a ng-if="model.notfollowing"
                       ng-click="model.followUser()"
                       class="btn btn-primary btn-sm" type="submit">
                        <span class="fa fa-rss fa-lg"></span>
                        Follow
                    </a>
                    <a ng-if="model.following"
                       ng-click="model.unfollowUser()"
                       class="btn btn-primary btn-sm" type="submit">
                        <span class="fa fa-rss fa-lg"></span>
                        UnFollow {{model.user.username}}
                    </a>
                </h2>
                <p></p>
                <div ng-if="model.error"
                     class="alert alert-danger">
                    {{model.error}}
                </div>
                <p></p>
                <div ng-if="model.success"
                     class="alert alert-success">
                    {{model.success}}
                </div>
                </a>
            </div>
        </div>

        <div class="input-group">
            <input ng-model = "model.movieName"
                   type="text"
                   placeholder="Search movie.."
                   class="form-control ng-pristine ng-valid ng-touched">
            <span class="input-group-btn ">
                   <a href ="#/search/{{model.movieName}}"
                      class="btn btn-info searchButtonColor"
                      type="button">
                       <span class="glyphicon glyphicon-search"></span>
                   </a>
            </span>
        </div>


        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="container-fluid">
                    <h3>{{model.user.username}}'s Reviews</h3>

                    <div ng-repeat="reviews in model.user.reviews" class="row">

                        <div class="well wellColor">
                            <div class="clearfix">
                                <img ng-src="{{reviews.imageUrl}}" alt="My Image" class="img-responsive center-block pull-left gap-right imageWidthInReview" >
                                <h5><b>{{reviews.name}}</b></h5>
                                <h5>{{reviews.review}}</h5>
                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>


            <div class="col-xs-12 col-lg-6">
                <div class="container-fluid">
                    <h3>{{model.user.username}}'s Ratings</h3>

                    <div ng-repeat="rates in model.user.rates" class="row">
                        <div class="well wellColor">
                            <div class="clearfix">
                                <img ng-src="{{rates.imageUrl}}" alt="My Image" class="img-responsive center-block pull-left gap-right imageWidthInReview" >
                                <h5> <b>{{model.user.username}} rated:</b></h5>
                                <h5> {{rates.rating}}/5</h5>

                            </div>
                        </div>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid userprofilePadding">
            <h3>Following</h3>
            <ul>
                <div ng-repeat ="follow in model.user.follows">
                    <li>
                        <a class="makeblack" href ="#/user/profile/{{follow.username}}">
                            {{follow.username}}
                        </a>
                    </li>

                </div>
            </ul>
        </div>

    </div>

</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a class="mycustomfont" ng-click="model.logout()">
                <span class="glyphicon glyphicon-off addYellow"></span></a>
        </p>
        <p class="navbar-text pull-right">
            <a class="mycustomfont addYellow" href="#/editprofile">
                <span class="glyphicon glyphicon-pencil addYellow"></span>
            </a>
        </p>
    </div>
</nav>